%div{class: "row" }
  %div{ class: "span1"}
    %div{ class: "date"}
      %div{ class: "month-year"}
        = post.created_at.strftime("%B")
      %div{ class: "date-num"}
        = created_day(post)
      %div{ class: "month-year"}
        = post.created_at.strftime("%Y")
    
  %div{ class: ["span11", "title-section"] }
    %div{ class: "title"}
      = post.subject
    %div{ class: "author"}
      = post.user.name
%div{class: "row"}
  %div{ class: "span11"}
    = post.content.html_safe
- if user_signed_in? && current_user.admin?
  %div{class: "row"}
    %div{class: "span10"}
      &nbsp;
    %div{class: "span1", style: "text-align: right"}
      = link_to "Edit", edit_post_path(post) 